<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

  
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Enter the city to get your real-time weather!</p>
        <form>
            <input type="text" placeholder="  City" >
            <button>Find Weather</button>
            <div class="output"></div>
        </form>
    </div>

    {{>footer}}
      <script src="/js/app.js"></script>
</body>

</html>